<!DOCTYPE Html>
<html lang="en">
    <head>
        <title>Slacking Food Blog</title>
        <meta name="viewport" content="width=device-width">
        <meta property="og:url"           content="http://slackingfoodblog.herokuapp.com/" />
      <meta property="og:type"          content="website" />
      <meta property="og:title"         content="Slacking Food Blog" />
      <meta property="og:description"   content="Slacking food recipes, Slacking food journeys, Slacking favorites!" />
      <meta property="og:image"         content="/public/img/logo.png" />
        <% include ../public/js/scripts.html %>
         <script>

            $(document).ready(function(){

             
               $('nav').hide();
               $('nav').fadeIn(2000);

               $('#navigation_button').click(function(){
                    
                    if($('body').hasClass('start-scrolling')){
                        $('body').removeClass('start-scrolling').toggleClass('stop-scrolling');
                    }else if($('body').hasClass('stop-scrolling')){
                        $('body').removeClass('stop-scrolling').toggleClass('start-scrolling');
                    }
                    

               
            });

        </script>

    </head>

    <body class="start-scrolling">

       <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
        <div id="wrapper" class="container-fluid">
       

       
        <% include ./navigation.ejs %>

        <% include ./about_blog_content.ejs %>


        <% include ./footer.ejs %>
       
        </div>

       
        
    
    </body>


</html>
