  <div id="about_blog" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div id="page_title" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>About 'Blog'</h1>
                </div>

                <div id="profile_pic" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <img src="http://res.cloudinary.com/slacking-food-blog/image/upload/v1503502589/me.jpg.jpg" alt="profile picture" />
                </div>

                <div id="main_contents" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <h2>Slackiest Food Talks You'll Ever Read and Explore!</h2>

                    <div id="bar" style="float:left">
                     </div>

                     <br/>
                    <p>My name is Jae Oh. I am currently located in Queens, New York where diversity is the #1 in the world!</p>

                    <p> I am a web developer who likes to talk about foods in general. </p>

                    <p> I started this personal blog as to share my food experiences and my ongoing adventures!</p>  

                    <p> Honestly, I can't talk or review foods like Yelp, Michellin Guide, ZAGAT,EATERS or Munchies and I am not willing to replicate any of them.</p>

                    <p>Instead! You'll experience SLACKING talks from me! That includes a talk between SERIOUS and EASY GOING. </p>
                          
                

                    </div>


                      <!-- Facebook -->
                      <div id="about_share" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <div class="fb-share-button" data-href="http://slackingfoodblog.herokuapp.com/" 
                        data-layout="button_count" data-size="large" data-mobile-iframe="true">
                        <a class="fb-xfbml-parse-ignore" 
                        target="_blank"
                        href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fslackingfoodblog.herokuapp.com%2F&amp;src=sdkpreparse">Share</a></div>
                        
                        <div class="instagram_badge img-responsive"><a href="https://www.instagram.com/diceyman/"><img src="/img/instagram.png"></a> </div>
                    </div>

                     </div>
