<!DOCTYPE Html>
<html lang="en">
    <head>
        <% include ./title.ejs %>
        <% include ./stylesheets.ejs %>
        <meta name="viewport" content="width=device-width">
    </head>

    <body >

        <div id="wrapper" class="container-fluid">
        <div class="row">
        <% include ./navigation.ejs %>
        <% include ./dashboard_form.ejs %>
        <% include ./footer.ejs %>
        
            </div>
        </div>
        <% include ./basic_scripts.ejs %>
        <% include ./scripts_for_navigation_only.ejs %>
    </body>
</html>
