<h1 id="dashboard_head" style="text-align: center;">Admin Dashboard</h1>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="container contents-collapsible">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#what_i_eat_recipe">What 'I' Eat! Recipes for 'You'</button>
                    <div id="what_i_eat_recipe" class="collapse">
                       <form id="what_i_eat_recipe_form" action="/dashboard/upload_to_what_i_eat_recipe" method="POST" enctype="multipart/form-data" >
                        
                        <fieldset>
                            <label id="label_title">Title:</label>
                            <input id="title" type="text" name="title">
                            <br/>
                        
                        <span>    <input id="submit" type="submit" name="submit"> </span>
                        <br />
                            <input id="file" type="file" name="imagefile" multiple="multiple" />
                            
                        </fieldset>
                       
                        </form>

                        <textarea  id="comment" name="texts" rows="6" cols="50" form="what_i_eat_recipe_form"></textarea>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                 <div class="container contents-collapsible">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#my_food_journey">My Food Journey</button>
                    <div id="my_food_journey" class="collapse">
                       <form id="my_food_journey_form" action="/dashboard/upload_to_my_food_journey" method="POST" enctype="multipart/form-data" >
                        
                        <fieldset>
                            <label id="label_title">Title:</label>
                            <input id="title" type="text" name="title">
                        <br/>
                        <span>    <input id="submit" type="submit" name="submit"> </span>
                        <br/>
                            <input id="file" type="file" name="imagefile" multiple="multiple" />
                            
                        </fieldset>
                       
                        </form>

                        <textarea  id="comment" name="texts" rows="6" cols="50" form="my_food_journey_form"></textarea>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                 <div class="container contents-collapsible">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#my_favorite_stuff" >My Favorite Stuff</button>
                    <div id="my_favorite_stuff" class="collapse">
                       <form id="my_favorite_stuff_form" action="/dashboard/upload_to_my_favorite_stuff" method="POST" enctype="multipart/form-data" >
                        
                        <fieldset>
                            <label id="label_title">Title:</label>
                            <input id="title" type="text" name="title">
                            <br/>
                        
                        <span>    <input id="submit" type="submit" name="submit"> </span>
                        <br/>
                            <input id="file" type="file" name="imagefile" multiple="multiple" />
                            
                        </fieldset>
                       
                        </form>

                        <textarea  id="comment" name="texts" rows="6" cols="50" form="my_favorite_stuff_form"></textarea>
                    </div>
                </div>
               
            
            </div>

           
