<!DOCTYPE Html>
<html lang="en">
    <head>
        <% include ./title.ejs %>
        <% include ./stylesheets.ejs %>
    </head>
    <body>
        <div id="wrapper" class="container-fluid">
        <div class="row" style="text-align: center">
        <div id="error_message">
            <h1>The Page You're Looking For Doesn't Exist! </h1>
            <h2> <a href="/">Click here to return to Main Page! </a></h2>
        </div>
        </div>
        </div> 
        <% include ./basic_scripts.ejs %>
        <% include ./scripts_for_navigation_only.ejs %>
    </body>
</html>
