

            <footer class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <br/>
                <p>Copyright 2017, Slacking Food Blog</p>
                <% if(session.username) { %>
                    <p><a href="/signout">Sign out</a></p>
                <%  }  else { %>
                <p><a href="/login">Admin Login</a></p>
                <% } %>
            </footer>
        
