

            <footer class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <br/>
                
                <% if(session.username) { %>
                    <p id="signout"><a href="/signout">Sign out</a></p>
                <%  }  else { %>
                <p id="login"><a href="/login">Admin Login</a></p>
                <% } %>
                <p id="home"><a href="/">Back to HOME</a></p>

                <p id="copyright">Copyright 2017, Slacking Food Blog</p>
            </footer>
        
