<!DOCTYPE Html>
<html lang="en">
    <head>
        <% include ./title.ejs %>
        <meta name="viewport" content="width=device-width">
        <% include ./stylesheets.ejs %>
        
    </head>

    <body >

        <div id="wrapper" class="container-fluid">
        <div class="row">

        <% include ./navigation.ejs %>
        <% include ./login_form.ejs %>
        <% include ./footer.ejs %>

            </div>
        </div>
        <% include ./basic_scripts.ejs %>
        <% include ./scripts_for_navigation_only.ejs %>
    </body>
</html>
