<div id="form" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/login/validate" method="POST">

                <label id="username">Username: </label>
                <input type="text" name="username">

                <br/>

                <label id="password">Password: </label>
                <input type="password" name="password">

                <br/>
                
                <input id="button" type="submit" name="submit">

            </form>
        </div>
