<!DOCTYPE Html>
<html lang="en">
    <head>
        <% include ./title.ejs %>
        <meta name="viewport" content="width=device-width">
        <% include ../public/js/scripts.html %>
        <% include ./scripts_for_navigation_only.ejs %>
    </head>
    <body>
        <div id="wrapper" class="container-fluid">
        
        <% include ./navigation.ejs %>

             <div id="page_title" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>My Food Journey</h1>
                </div>
           
            <div id="journey" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="journey_contents" >
                    
                    <% include ./my_food_journey_editable_content_renderer.ejs %>
                    
                </div>
                </div>

        <% include ./footer.ejs %>
       
        </div>
    </body>
</html>
