<!DOCTYPE Html>
<html lang="en">
    <head>
        <% include ./title.ejs %>
        <% include ./stylesheets.ejs %>
        <meta name="viewport" content="width=device-width"> 
    </head>
    <body class="start-scrolling">

        <div id="wrapper" class="container-fluid">

        <% include ./navigation.ejs %>

               <div id="page_title" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>What 'I' Eat! Recipes for 'You'!</h1>
                </div>

            <div id="recipes" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="recipes_contents" >
                   
                   <% include ./what_i_eat_recipes_content_renderer.ejs %>
                   
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <a href="http://slackingfoodblog.herokuapp.com/what_i_eat_recipes/">PREVIOUS</a>
                    </div>
                    <% if(posts.length == 8) { %>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <a href="http://slackingfoodblog.herokuapp.com/what_i_eat_recipes/2">NEXT</a>
                    </div>
                    <% } %>
                </div>
                </div>

        <% include ./footer.ejs %>
        </div>
        <% include ./basic_scripts.ejs%>
        <% include ./scripts_for_scrolling_and_nav.ejs %>
    </body>
</html>
