<!DOCTYPE Html>
<html lang="en">
    <head>
        <% include ./title.ejs %>
        <meta name="viewport" content="width=device-width">
        <% include ../public/js/scripts.html %>
        <% include ./scripts_for_scrolling_and_nav.ejs %>
    </head>

    <body class="start-scrolling">

        <div id="wrapper" class="container-fluid">

        <% include ./navigation.ejs %>

               <div id="page_title" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>What 'I' Eat! Recipes for 'You'!</h1>
                </div>

            <div id="recipes" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="recipes_contents" >
                    
                    <% include ./what_i_eat_recipes_content_renderer.ejs %>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <a href="http://slackingfoodblog.herokuapp.com/what_i_eat_recipes/1">PREVIOUS</a>
                    </div>

                    <% if(posts.length == 8) { %>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <a href="http://slackingfoodblog.herokuapp.com/what_i_eat_recipes/3">NEXT</a>
                    </div>
                    <% } %>
 
                </div>
                </div>

        <% include ./footer.ejs %>
        </div>
    </body>
</html>
