<!DOCTYPE Html>
<html lang="en">
    <head>
        <title>Slacking Food Blog</title>
        <meta name="viewport" content="width=device-width">
        <% include ../public/js/scripts.html %>
         <script>

            $(document).ready(function(){

            
               $('nav').hide();
               $('nav').fadeIn(2000);

                $('#date').each(function(){
                     var date = $(this).html();
                   var new_date = date.slice(0,33);
                       $(this).replaceWith("<p id='date'>" + new_date + "</p>");
                 })
                              
                    
                   
            });

        </script>

    </head>

    <body>

        <div id="wrapper" class="container-fluid">
       

       
        <% include ./navigation.ejs %>

               <div id="page_title" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>What 'I' Eat! Recipes for 'You'!</h1>
                </div>

            
            <div id="recipes" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="recipes_contents" >
                    
                    <% for (var i= 3 ; i< 6 ; i ++){ %>
                        <p> <%= posts[i].images %> </p>
                        <% } %>


                </div>
                </div>

         

        <% include ./footer.ejs %>
       
        </div>

       
        
    
    </body>


</html>
