

               body {
                
                background-color: black;
                overflow-x: hidden;
                overflow-y: scroll;
                position: relative;
                background-image: none;
                font-family: kimberly;
               
            }


            .background-wrap {
                position: fixed;
               margin: 0 auto;
                display: block;
                z-index: -1000;
                width: 100%;
                height: 100%;
                overflow: hidden;
                
            }

            #video-bg-elem {
                position: absolute;
                top:0;
                left: 0;


            }
         


            img {
                width: 400px;
                height: 300px;
                display: block;
               margin:0 auto;
                position: relative ;

            }

           

            #menu{
                margin-left: auto;
                margin-right: auto;
                padding: auto;
                position: fixed;
                background-color: white;
                opacity: .9;
                z-index: 1;
                

            }

            

               @font-face {
                font-family: kimberly;
                src: url(../fonts/kimberly.ttf);
            }

             @font-face {
                font-family: stark;
                src: url(../fonts/stark.otf);
            }

          h1 {
              color: white;
          }

            nav a {
                color: yellow;
                font-size: 2.5vw;
                font-family: kimberly;
                text-decoration-line: none;

            }

            nav a:hover {
                color: red;
                text-decoration: none;
                
            
                
            }

            form label {
                color: white;
                font-size: 2vw;
            }

            button p {
                font-family: kimberly;
            }

            footer{
                font-family: kimberly;
                position: relative;
                display: inline-block;
                font-size: 2vw;
                color: yellow;
                margin: 0 auto;
                text-align: center;
                bottom: 0;
            }

            #recipes, #journey {
               
               background-color: transparent;
            }

            #recipes #recipes_contents , #journey #journey_contents {
             
                background-color: black;
                color: white;
                height: 100%;
                margin: 0 auto;
              

            }

            #about_blog #main_contents{
                border:none;
                background-color: white;
                color: black;
                 
               

            }

            #page_title {
                font-size: 7vw;
                color: white;
                float: left;
                
            }

            
             #about_blog #profile_pic{
                border: none;
              
               

            }

             #about_blog #profile_pic img{
                width: 300px;
                height: auto;
              
               

            }

            #about_blog #main_contents p {
              font-family: stark;
              font-size: 1.5vw;

            }

        #favorite #date , #journey #date, #recipes #date {
            font-size: 12px;
          
          }

      
            

            #favorite p, #journey p, #recipes p{
               font-family: stark;
               font-size: 2vw;

            }

          h2 {
              font-size: 3vw;
          }

          

            #about_share {

                text-align: center;
                margin: 0 auto;
                margin-top: 20px;
            }

            footer a {
                color: orange;

            }
            
            footer a:hover {
                color: crimson;
                 text-decoration: none;
                
            }

            #form form {
                text-align: center;
            }

            #form form #button {
              background-color: orange;
            }

            div .container.contents-collapsible {
                text-align: center;
            }

              div .container.contents-collapsible button {
                width: 300px;
                background-color: orange;
                color: black;
                border: 1px solid black;
            }

            #what_i_eat_recipe , #my_favorite_stuff, #my_food_journey {
                border: 1px dotted black;
            }

            div #form_contents {
                margin-top: 30px; 
                text-align: center; 
                display: inline-block;
            }

            #title_field {
                text-align: center;
            }

            #fiel_field {
                margin-top: 30px; 
                text-align: center; 
                display: inline-block;

            }

            #text_field {
                margin-top: 30px; 
                text-align: center; 
                display: inline-block;
            }

             #file {
               display: inline-block;
               text-align: center;
               margin: 0 auto;
            }

            .ads {
                border: 1px solid black;
            }

            #title {
                text-align: left;
                font-size: 1.5vw;
            }

             #post_title {
                text-align: center;
               color:  white;
            }

             #comment {
                text-align: left;
                font-size: 1.5vw;
            }

            #date{
               
                text-align: center;
                color: yellowgreen;
            }

            #bar{
                border: 3px solid gold;
                background-color: gold;
                width: 35vw;
                margin: 0 auto;
            }

             #buttons{
                margin: 0 auto;
                text-align: center;
            }

             #bar2{
                border: 3px solid red;
                background-color: red;
                width: 35vw;
                margin: 0 auto;
            }

            #photo {
                width: 500px;
                height: auto;
            }

           

            #contents {
                text-align: center;
                font-size: 2vw;
                margin-left: 50px;
                margin-right: 50px;
                color: white;
            }

            #admin_name {
                text-align: center;
            }

            #delete {
                text-align: center;
                
                
            }

          #delete input {
              background-color: white;
              color: black;
            }

            #recipes {
                margin: 0 auto;
            }

            
   @media only screen and (max-width: 768px){

            [div],[body] {
                overflow: hidden;
                margin: 0 auto;
                text-align: center;
            }



     .col-1 {width: 100%;}
    .col-2 {width: 100%;}
    .col-3 {width: 100%;}
    .col-4 {width: 100%;}
    .col-5 {width: 100%;}
    .col-6 {width: 100%;}
    .col-7 {width: 100%;}
    .col-8 {width: 100%;}
    .col-9 {width: 100%;}
    .col-10 {width: 100%;}
    .col-11 {width: 100%;}
    .col-12 {width: 100%;}

    .col-xs-1 {width: 100%;}
    .col-xs-2 {width: 100%;}
    .col-xs-3 {width: 100%;}
    .col-xs-4 {width: 100%;}
    .col-xs-5 {width: 100%;}
    .col-xs-6 {width: 100%;}
    .col-xs-7 {width: 100%;}
    .col-xs-8 {width: 100%;}
    .col-xs-9 {width: 100%;}
    .col-xs-10 {width: 100%;}
    .col-xs-11 {width: 100%;}
    .col-xs-12 {width: 100%;}

    .col-sm-1 {width: 100%;}
    .col-sm-2 {width: 100%;}
    .col-sm-3 {width: 100%;}
    .col-sm-4 {width: 100%;}
    .col-sm-5 {width: 100%;}
    .col-sm-6 {width: 100%;}
    .col-sm-7 {width: 100%;}
    .col-sm-8 {width: 100%;}
    .col-sm-9 {width: 100%;}
    .col-sm-10 {width: 100%;}
    .col-sm-11 {width: 100%;}
    .col-sm-12 {width: 100%;}

    .col-md-1 {width: 100%;}
    .col-md-2 {width: 100%;}
    .col-md-3 {width: 100%;}
    .col-md-4 {width: 100%;}
    .col-md-5 {width: 100%;}
    .col-md-6 {width: 100%;}
    .col-md-7 {width: 100%;}
    .col-md-8 {width: 100%;}
    .col-md-9 {width: 100%;}
    .col-md-10 {width: 100%;}
    .col-md-11 {width: 100%;}
    .col-md-12 {width: 100%;}

    .col-lg-1 {width: 100%;}
    .col-lg-2 {width: 100%;}
    .col-lg-3 {width: 100%;}
    .col-lg-4 {width: 100%;}
    .col-lg-5 {width: 100%;}
    .col-lg-6 {width: 100%;}
    .col-lg-7 {width: 100%;}
    .col-lg-8 {width: 100%;}
    .col-lg-9 {width: 100%;}
    .col-lg-10 {width: 100%;}
    .col-lg-11 {width: 100%;}
    .col-lg-12 {width: 100%;}


          



       body {
                max-width: auto;
                background-color: black;
                overflow-x: hidden;
                overflow-y: scroll;
                position: relative;
               
            }

        nav a {
                color: white;
                font-size: 4.5vw;
                font-family: kimberly;
                text-decoration-line: none;

            }

          
            .navbar-header #navigation_button {
                background-color: red;
                color: white;
                margin: 0 auto;
                text-align: center;
                float:left;
                top: 20px;
                margin-bottom: 20px;
                display: inline-block;
                font-weight: bold;
                font-size: 7vw;
                
                
            
             

                
                
            }

            .navbar-header button:hover {
                
                color: yellow;
                background-color: red;

                
                
            }

           

            
            .navbar-collapse collapse in #myNavbar div {
                margin-bottom: 10px;
                float:left;
                text-align: left;
                border: none;
                
                
                
            }

           .navbar-toggle{
               margin: 0 auto;
               border: none;

               
              
           }

           #myNavbar {
               border: none;
           }

             
          
           #recipes #recipes_contents {
                  
                background-color: none;
           
                width: inherit;
                height: inherit;
                margin: 0 auto;

            }

             
              
            .collapse textarea{
                width: 70vw;
                

            }

            .collapse input {
                width: 50vw;
            }

            #file {
               display: inline-block;
               text-align: center;
               margin: 0 auto;
            }
            #error_message h1 , #error_message h2 {
                font-size: 4vw;
            }

           

            #post_title {
                font-size: 6vw;
            }

         

            #about_blog #main_contents p , #favorite p, #journey p, #recipes p{
               font-family: stark;
               font-size: 4vw;

            }
     
            h2 {
                    font-size: 5vw;
     }
     
            #date{
                font-size: 2vw;
                text-align: center;
                color: greenyellow;
            }

            #bar{
                border: 2px solid gold;
                background-color: gold;
                width: 65vw;
                margin: 0 auto;
            }

             #bar2{
                border: 2px solid red;
                background-color: red;
                width: 65vw;
                margin: 0 auto;
            }

             #photo {
                width: 65vw;
                height: inherit;
            }

             #about_share {

                margin: 0 auto;
                text-align: center;
            }

         
            #page_title {
                font-size: 2vw;
                color: white;
                text-align: center;
            }

               footer{
               
                font-size: 4vw;
                
            }

            fieldset label {
                font-size: 4vw;
            }

            fieldset #title {
                font-size: 2vw;
            }

            fieldset input {
                font-size: 3vw;
            }

}       
