
            
               @font-face {
                font-family: contra;
                src: url(../fonts/CONTRA_.ttf);
            }


            @font-face {
                font-family: amarfil;
                src: url(../fonts/Amarfil.ttf);
            }

               body {
                
                background-color: white;
                overflow-x: hidden;
                overflow-y: scroll;
                position: relative;
                background-image: none;
                font-family: contra;
                
               
            }

            img {
                width: 35vw;
                height: auto;
                display: block;
               margin:0 auto;
                position: relative ;

            }

            img #logo{
                width: auto;
                height: auto;
                display: block;
               margin:0 auto;
                position: relative ;

            }

            #goal {
                        text-align: center;
                  }

            #goal p{
             font-size: 50px;
             font-family: contra;    
             }

           .navbar-header{
               
               position: fixed;
               z-index: 1;
           }

           

           .icon-bar {
               background-color:  white;
           }
           

            #menu{
                margin-left: auto;
                margin-right: auto;
                padding: auto;
                position: fixed;
                background-color: white;
                opacity: .9;
                z-index: 1;
                

            }

            


             #username, #password {
                color: #B2A000;
                font-family: contra;
                
            }



          h1 {
              color: #B2A000;
              font-family: contra ;
              text-align: center;
              font-size: 2vw;
          }

            nav a {
                color: black;
                font-size: 2.5vw;
                font-family: contra;
                text-decoration-line: none;

            }

            nav a:hover {
                color: #B2A000;
                text-decoration: none;
                
            
                
            }

            form label {
                color: white;
                font-size: 2vw;
            }

            button p {
                font-family: amarfil;
            }

            footer{
                font-family: contra;
                position: relative;
                display: inline-block;
                font-size: 2vw;
                font-weight: bold;
                color: black;
                margin: 0 auto;
                text-align: center;
                bottom: 0;
            }

            #recipes, #journey, #favorite {
               
               background-color: transparent;
            }

            #recipes #recipes_contents , #journey #journey_contents , #favorite #favorite_contents {
             
                background-color: none;
                color: black;
                height: 100%;
                margin: 0 auto;
                font-family: contra;
                text-align: center;
                font-size: 1.5vw;


            }

            #recipes #recipes_contents #contents , #journey #journey_contents #contents , #favorite #favorite_contents #contents {
             
            margin: 0 auto;
            margin-left: auto;
            margin-right: auto;
            text-align: center;


            }


              

            #about_blog #main_contents{
                border:none;
                background-color: white;
                color: black;
                 
               

            }

            #page_title {
                font-size: 7vw;
                color: black;
                float: left;
                
            }

            
             #about_blog #profile_pic{
                border: none;
              
               

            }

             #about_blog #profile_pic img{
                width: 300px;
                height: auto;
              
               

            }

            #about_blog #main_contents p {
              font-family: contra;
              font-size: 1.5vw;

            }

            #date{
               
                text-align: center;
                color: black;
                font-size: 1vw;
                font-weight: bold;
            }
            

          h2 {
              font-size: 3vw;
              font-family: contra;
          }

          

            #about_share {

                text-align: center;
                margin: 0 auto;
                margin-top: 20px;
              margin-left: 50px;
            }

               #about_share .instagram_badge img {
               
                  width: 90px;
                  height: 60px;
               }

            footer a {
                color: #B2A000;
                font-size: 2vw;

            }

            footer #copyright {
                font-size: 1.2vw;
            }
            
            footer a:hover {
                color: black;
                 text-decoration: none;
                
            }

            #form form {
                text-align: center;
            }

            #form form #button {
              background-color: white;
            }

            div .container.contents-collapsible {
                text-align: center;
            }

              div .container.contents-collapsible button {
                width: 300px;
                background-color: #B2A000;
                color: white;
                border: 1px solid white;
                font-family: contra;
                font-weight: bold;
            }


            div #form_contents {
                margin-top: 30px; 
                text-align: center; 
                display: inline-block;
            }

            #title_field {
                text-align: center;
            }

            #fiel_field {
                margin-top: 30px; 
                text-align: center; 
                display: inline-block;

            }

            #text_field {
                margin-top: 30px; 
                text-align: center; 
                display: inline-block;
            }

             #file {
               display: inline-block;
               text-align: center;
               margin: 0 auto;
            }

           
            #title {
                text-align: left;
                font-size: 1.5vw;
            }

             #post_title {
                text-align: center;
               color:  black;
               font-weight: bold;
               
            }

             #comment {
                text-align: left;
                font-size: 1.5vw;
            }

            #bar{
                border: 1px dotted black;
                width: 55vw;
                margin: 0 auto;
            }

             #buttons{
                margin: 0 auto;
                text-align: center;
            }

             #bar2{
                border: 1px dotted black;
                
                width: 55vw;
                margin: 0 auto;
            }

            #photo {
                width: 500px;
                height: auto;
            }

           

            #contents {
                text-align: center;
                font-size: 2vw;
                color: black;
                font-family: amarfil;
            }

            #admin_name {
                text-align: center;
            }

            #delete {
                text-align: center;
                
                
            }

          #delete input {
              background-color: white;
              color: black;
            }

            #recipes {
                margin: 0 auto;
            }

            #newest_post {
                text-align: center;
                margin: 0 auto;
                margin-top: -5vw;
            }

            #newest_head {
                font-size: 1.5vw;
                color: black;
            }

            #newest_title {
                font-size: 1vw;
                border: .5px solid white;
                width: 40vw;
                text-align: center;
                margin: 0 auto;
            }

            #whats_new , #content_notify{
                font-size: 1.5vw;
            }
            
   @media only screen and (max-width: 768px){

            [div],[body] {
                overflow: hidden;
                margin: 0 auto;
                text-align: center;
            }



     .col-1 {width: 100%;}
    .col-2 {width: 100%;}
    .col-3 {width: 100%;}
    .col-4 {width: 100%;}
    .col-5 {width: 100%;}
    .col-6 {width: 100%;}
    .col-7 {width: 100%;}
    .col-8 {width: 100%;}
    .col-9 {width: 100%;}
    .col-10 {width: 100%;}
    .col-11 {width: 100%;}
    .col-12 {width: 100%;}

    .col-xs-1 {width: 100%;}
    .col-xs-2 {width: 100%;}
    .col-xs-3 {width: 100%;}
    .col-xs-4 {width: 100%;}
    .col-xs-5 {width: 100%;}
    .col-xs-6 {width: 100%;}
    .col-xs-7 {width: 100%;}
    .col-xs-8 {width: 100%;}
    .col-xs-9 {width: 100%;}
    .col-xs-10 {width: 100%;}
    .col-xs-11 {width: 100%;}
    .col-xs-12 {width: 100%;}

    .col-sm-1 {width: 100%;}
    .col-sm-2 {width: 100%;}
    .col-sm-3 {width: 100%;}
    .col-sm-4 {width: 100%;}
    .col-sm-5 {width: 100%;}
    .col-sm-6 {width: 100%;}
    .col-sm-7 {width: 100%;}
    .col-sm-8 {width: 100%;}
    .col-sm-9 {width: 100%;}
    .col-sm-10 {width: 100%;}
    .col-sm-11 {width: 100%;}
    .col-sm-12 {width: 100%;}

    .col-md-1 {width: 100%;}
    .col-md-2 {width: 100%;}
    .col-md-3 {width: 100%;}
    .col-md-4 {width: 100%;}
    .col-md-5 {width: 100%;}
    .col-md-6 {width: 100%;}
    .col-md-7 {width: 100%;}
    .col-md-8 {width: 100%;}
    .col-md-9 {width: 100%;}
    .col-md-10 {width: 100%;}
    .col-md-11 {width: 100%;}
    .col-md-12 {width: 100%;}

    .col-lg-1 {width: 100%;}
    .col-lg-2 {width: 100%;}
    .col-lg-3 {width: 100%;}
    .col-lg-4 {width: 100%;}
    .col-lg-5 {width: 100%;}
    .col-lg-6 {width: 100%;}
    .col-lg-7 {width: 100%;}
    .col-lg-8 {width: 100%;}
    .col-lg-9 {width: 100%;}
    .col-lg-10 {width: 100%;}
    .col-lg-11 {width: 100%;}
    .col-lg-12 {width: 100%;}


          



       body {
                max-width: 100%;
                background-color: white;
                overflow-x: hidden;
                overflow-y: scroll;
                position: relative;
               
            }

        nav a {
                color: white;
                font-size: 4.5vw;
                font-family: contra;
                text-decoration-line: none;

            }

          #newest_post p {
              font-size: 4vw;
          }

          .navbar-header
          {
            background-color: white; 
            width: 100% ;
             height: 55px; 
             margin-top: -10px;
          }
            .navbar-header #navigation_button {
                background-color: #B2A000;
                z-index: 3;
                color: white;
                margin: 0 auto;
                text-align: center;
                border: .5px solid white;
                top: 20px;
                margin-bottom: none;
                margin-right: 15vw;
                display: inline-block;
                font-weight: bold;
                font-size: 7vw;
                
    
            }

            .stop-scrolling {
                height: 100%;
                overflow: hidden;
            }

            .start-scrolling {
                height: 100%;
                overflow: none;
            }

          
            
            

           .navbar-toggle{
               margin: 0 auto;
               border: none;

               
              
            }

            #label_title {
                color: black;
                font-family: contra;
            }

        
           #myNavbar .navbar-collapse, #myNavbar .in, #myNavbar  {
               position: fixed;
               background-color: white;
               color: black;
               z-index: 1;
              margin: 0 auto;
               width: 100%;
               height: 100%;
              margin-left: -5vw;
               margin-top: 45px;
               
              
           }

           #myNavbar div {
               border: .5px solid #B2A000;
           }
             
           #myNavbar a {
            color: black;
            font-size: 5vw;
        }
          
        #myNavbar a:hover {
            color: #B2A000;
            text-decoration: none;
        }
           #recipes #recipes_contents {
                  
                background-color: none;
           
                width: inherit;
                height: inherit;
                margin: 0 auto;

            }

             
              
            .collapse textarea{
                width: 70vw;
                

            }

            .collapse input {
                width: 50vw;
            }

            #file {
               display: inline-block;
               text-align: center;
               margin: 0 auto;
            }
            #error_message h1 , #error_message h2 {
                font-size: 4vw;
            }

           #page_title h1 {
               font-size: 5vw;
           }

            #post_title {
                font-size: 6vw;
            }

         

            #about_blog #main_contents p , #favorite p, #journey p, #recipes p{
               font-family: contra;
               font-size: 4vw;

            }
     
            h2 {
                    font-size: 5vw;
     }
     
            #date{
                font-size: 2vw;
                text-align: center;
                color: black;
            }

            #bar{
                border: 1px dotted black;
                width: 65vw;
                margin: 0 auto;
                 text-align: center;
            }

             #bar2{
                border: 1px dotted black;
                width: 65vw;
                margin: 0 auto;
                text-align: center;
            }

             #photo {
                width: 65vw;
                height: inherit;
            }

             #about_share {

                margin: 0 auto;
                text-align: center;
               margin-top: 20px;
            }
               
            #newest_title {
                font-size: 5vw;
                width: 75vw;
                margin-bottom: 2vw;
              
            }

         
            #page_title {
                font-size: 2vw;
                color: #B2A000;
                text-align: center;
            }

               #signout a, #login a, #home a{
               
                font-size: 3vw;
                
            }

            footer #copyright {
                font-size: 3vw;
            }

            fieldset label {
                font-size: 4vw;
            }

            fieldset #title {
                font-size: 2vw;
            }

            fieldset input {
                font-size: 3vw;
            }

            #username, #password {
                font-size: 5vw;
                
            }

            #dashboard_head, #admin_name {
                font-size: 5vw;
                font-family: contra;
            }
            

            img {
                width: 85vw;
                height: auto;
                display: block;
               margin:0 auto;
                   margin-left: auto;
                   margin-right: auto;
                position: relative ;
                text-align: center;

            }
}       
